apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Deployment
      name: backend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
  - target:
      kind: Deployment
      name: frontend
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 3

images:
  - name: youruser/timesheet-backend
    newTag: "1.0.0"
  - name: youruser/timesheet-frontend
    newTag: "1.0.0"

commonLabels:
  environment: production
